# RaspiBlitz Info Daemon: systemd unit for blitzinfod
# /etc/systemd/system/blitzinfod.service

[Unit]
Description=RaspiBlitz Info Daemon
After=network.target

[Service]
User=bitcoin
Group=bitcoin
ExecStart=/usr/local/bin/blitzinfod

[Install]
WantedBy=multi-user.target