Source: blitzd
Section: utils
Priority: optional
Maintainer: Robert Habermann <frennkie@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/frennkie/blitzd
Vcs-Git: https://github.com/frennkie/blitzd
Vcs-Browser: https://github.com/frennkie/blitzd

Package: blitzd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RaspiBlitz Daemon
 This is a long description, indented with spaces
